@import url("http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope:regular");
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic");

body, div, ul, li, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  position: relative;
  margin: 0;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

body .wrap {
  margin: 0 auto;
  width: 600px;
  border-radius: 10px;
}

body .column-wrap {
  width: 300px;
  float: left;
}

ul.toc {
  border-radius: 10px;
  border-width: 2px;
  margin-bottom: 1em;
}

ul.toc li {
  background-color: Linen;
  border-color: DarkRed;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  float: left;
  //height: 150px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
  width: 280px;
}

.handwriting {
  font-family: 'Annie Use Your Telescope', serif;
  letter-spacing: 0.15em;
}

.toc .title {
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  margin-top: 4px;
}

.toc .title a {
  color: DarkRed;
}

.toc .lead {
  font-size: 12pt;
}

br {
  clear: left;
}
